
/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  background-color: rgb(246 246 246);
  width: 100%;
}

/* nav */

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 3px;
  top: 0;
  height: 10vh;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 3%;
  padding-right: 3%;
}

.menuVoci {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuSimboli {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul .menuVoci li {
  display: inline;
  margin-left: 4%;
  margin-right: 4%;
}

nav ul li a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

nav ul li a:hover {
  color: rgb(41, 41, 41);
  text-shadow: 0.1px 0.1px 0.1px;
}

.linkHomeMenu {
  width: 52px;
  height: 52px;
}

.login {
  width: 20px;
  height: 16px;
  margin-top: 0.3em;
  margin-left: 2em;
  opacity: 65%;
}

.login:hover {
  opacity: 100%;
}

.scrittaInaranHomeMenu {
  width: 9em;
  padding-left: 1em;
}

.linkHomeMenu:hover {
  opacity: 75%;
}

/* nav */
/* header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../MEDIA/HomePage/photo/Header.jpg);
  background-color: rgb(31, 31, 31);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerIcon {
  text-align: center;
}

.headerIcon img {
  width: 65%;
  opacity: 90%;
  margin-bottom: 2em;
  border-radius: 100%;
  box-shadow: 3px 3px 15px white, -3px -3px 15px white;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0),
      -3px -3px 15px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 3px 3px 15px white, -3px -3px 15px white;
  }
  100% {
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0),
      -3px -3px 15px rgba(255, 255, 255, 0);
  }
}

/* header */
/* main */

#InaranStart, .spaces {
  height: 10vh;
  background-color: rgb(219, 219, 219);
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  color: rgb(40, 40, 40);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(40, 40, 40);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.presentazione {
  list-style-type: none;
}

.presentazione li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

hr.aQuarterLine {
  border-top: 3px solid rgb(40, 40, 40);
  width: 5rem;
}

/* main */
/* main Inàran */

.twoColumns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.twoColRev {
  flex-wrap: wrap-reverse;
}

.columnRight, .columnLeft {
  width: 600px;
  flex-basis: auto;
  flex-grow: 1;
  min-height: 100vh;
}

.columnLeft {
  padding: 0rem 4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.columnRight {
  background-image: url(../MEDIA/HomePage/photo/Vault.jpg);
  background-color: rgb(31, 31, 31);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.columnRight.olympia {
  background-image: url(../MEDIA/HomePage/photo/Olympia.jpg);
}

/* main Inàran */
/* main linkUtili */

.buttonLinkUtili {
  display: flex;
  flex-direction: row;
  cursor: pointer
}

.buttonText {
  background-color: #293556;
  border-radius: 10rem 0rem 0rem 10rem;
  padding: 1rem;
  width: 13rem;
  height: 3.5rem;
  text-align: center;
}

.buttonText p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.buttonAction {
  background-color: #4d3187;
  border-radius: 0rem 10rem 10rem 0rem;
  padding: 1rem;
  width: 7rem;
  height: 3.5rem;
  text-align: center;
}

.buttonAction p {
  color: #4dd8d3;
  font-weight: bold;
  text-transform: uppercase;
  transition: font-size 0.5s, color 0.5s;
}

.buttonAction p:hover {
  font-size: 1.1rem;
  color: white;
}

/* main linkUtili */
/* main gameplay */

#gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 5rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.gameplayFrame {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 98%;
  background-color: rgb(220, 220, 220);
  border-radius: 5rem 0rem;
  padding: 3rem;
}

.gameplayFrame h3, .gameplayFrame p {
  align-self: flex-start;
}

/* main gameplay */
/* footer */

input, textarea { 
  outline: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: rgb(25, 15, 48);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-right: 4rem;
  padding-left: 1rem;
  width: 100%;
}

footer h2 {
  color: white;
  font-size: 2rem;
}

footer h3, footer p {
  color: white;
  font-size: 1rem;
}

footer .contatti {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  position: relative;
  width: 70%;
  border-radius: 30px;
  background: #fff;
}

form, .contatti {
  min-height: 40vh;
}

.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: rgb(25, 15, 48);
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.form-inner {
  padding: 40px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(25, 15, 48);
  color: white;
}

.form-inner textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #165e55;
  background: rgb(25, 15, 48);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

button:hover {
  background: rgb(11, 7, 21);
} 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.709);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.709);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.709);
}

@media (min-width: 568px) {
  form {
    width: 60%;
  }
}

.adminHeads {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.adminHeads img {
  width: 2rem;
}

.chick {
  transform: translate(0.2rem, 0.2rem) rotate(-14deg);
}

.elo {
  transform: rotate(4deg);
}

.kal {
  transform: translate(-0.1rem, 0.45rem) rotate(18deg);
}

/* footer */