
/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  background-color: cadetblue;
}

/* nav */

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 3px;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 3%;
  padding-right: 3%;
}

.menuVoci {
  display: flex;
  justify-content: end;
  align-items: center;
}

.menuSimboli {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul .menuVoci li {
  display: inline;
  margin-left: 4%;
  margin-right: 4%;
}

nav ul li a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

nav ul li a:hover {
  color: rgb(41, 41, 41);
  text-shadow: 0.1px 0.1px 0.1px;
}

.linkHomeMenu {
  width: 52px;
  height: 52px;
}

.login {
  width: 25px;
  height: 20px;
  margin-top: 0.3em;
  margin-left: 2em;
  opacity: 65%;
}

.login:hover {
  opacity: 100%;
}

.scrittaInaranHomeMenu {
  width: 9em;
  padding-left: 1em;
}

.linkHomeMenu:hover {
  opacity: 75%;
}

/* nav */
/* header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../MEDIA/HomePage/photo/Header.jpg);
  background-color: rgb(31, 31, 31);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerIcon {
  text-align: center;
}

.headerIcon img {
  width: 65%;
  opacity: 90%;
  margin-bottom: 2em;
  /* border: 3px solid rgb(255, 255, 255); */
  border-radius: 100%;
  box-shadow: 3px 3px 15px white, -3px -3px 15px white;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0),
      -3px -3px 15px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 3px 3px 15px white, -3px -3px 15px white;
  }
  100% {
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0),
      -3px -3px 15px rgba(255, 255, 255, 0);
  }
}

/* header */
/* main */

.spaces {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 23%, rgba(95,158,160,1) 100%);
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  color: rgb(40, 40, 40);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(40, 40, 40);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

hr.aQuarterLine {
  border-top: 3px solid rgb(40, 40, 40);
  width: 5rem;
}

/* main */
/* main Inàran */

#Inaran {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.inaranColumnRight, .inaranColumnLeft {
  width: 50%;
  height: 100%;
}

.inaranColumnLeft {
  padding: 2rem;
  background-color: white;
}

.inaranColumnRight {
  background-image: url(../MEDIA/HomePage/photo/Vault.jpg);
  background-color: rgb(31, 31, 31);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main Inàran */
/* main linkUtili */

#linkUtili {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.linkUtili {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: rgb(207, 207, 207);
  border-radius: 5rem 0rem;
}

.containerUsefulLink {
  width: 80%;
  margin-bottom: 2rem;
}

.usefulLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonLinkUtili {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  cursor: pointer
}

.buttonText {
  background-color: #293556;
  border-radius: 10rem 0rem 0rem 10rem;
  padding: 1rem;
  width: 13rem;
  height: 3.5rem;
  text-align: center;
}

.buttonText p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.buttonAction {
  background-color: #4d3187;
  border-radius: 0rem 10rem 10rem 0rem;
  padding: 1rem;
  width: 7rem;
  height: 3.5rem;
  text-align: center;
}

.buttonAction p {
  color: #4dd8d3;
  font-weight: bold;
  text-transform: uppercase;
  transition: font-size 0.5s, color 0.5s;
}

.buttonAction p:hover {
  font-size: 1.1rem;
  color: white;
}

/* main linkUtili */
/* main gameplay */

#gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  background-color: white;
}

.gameplayFrame {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: rgb(227, 227, 227);
  border-radius: 5rem 0rem;
  padding: 3rem;
}

/* main gameplay */